.redeemGiftCard {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 400px;
      background: #2F354D;
      border-radius: 8px;
      /* box-shadow: 0px 0px 3px 3px #555; */
      z-index: 1000;
    }
    
    .redeemGiftCardContent {
      padding: 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .cross {
      align-self: flex-end;
      cursor: pointer;
      font-size: 2vw;
      color: #fff;
    }
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .logo img, .fields img{
      width: 30%;
      height: 30%;
    }
    .fields{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5vw;
    }
    .fields p{
      font-size: .8vw;
      color: #818AAF;
    }
    .fields input{
      width: 80%;
      padding: 1.2vw;
      background-color: #282E44;
      border: none;
      outline: none;
      border-radius: 5px;
      color: #fff;
    }
    .fields button{
      padding: 1.2vw;
      width: 80%;
      background-color: #24D093;
      border: none;
      outline: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
    }
    .fields button:hover{
      background-color: #24d094;
    }
    .inputBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
    }
    
    .inputBox input {
      margin-bottom: 10px;
      padding: 10px;
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .inputBox button {
      padding: 10px;
      width: 100%;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .inputBox button:hover {
      background-color: #0056b3;
    }
    
    @media screen and (width > 300px) and (width < 768px){
.fields input{
      width: 90%;
      padding: 3vw;
      font-size: 4vw;
}
.cross{
      font-size: 4vw;
}
.fields p{
      text-align: center;
      font-size: 3.4vw;
}
.fields button{
      width: 90%;
      padding: 3vw;
      font-size: 3vw;
}
    } 