.FAQS {
      width: 100%;
      height: fit-content;
      background-color: #00004D;
      padding: 4vw 8vw;
      margin-top: 8vw;
    }
    
    .FAQSBox {
      width: 50%;
      height: fit-content;
      background-color: #01016bbf;
      padding: 1vw;
    }
    
    .FAQSBox h5 {
      text-align: center;
      padding: 2vw;
      font-size: 1.2vw;
    }
    
    .FAQdiv {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1vw;
      cursor: pointer;
    }
    .IoIosArrowForward {
      background-color: #fff;
      color: #000;
      border-radius: 50px;
      font-size: 1.3vw;
      transition: transform 0.3s ease;
    }
    .FAQSBox h4{
      font-size: 1.1vw;
      font-weight: 300;
    }
    .IoIosArrowForward.rotate {
      transform: rotate(90deg);
    }
    
    .FAQpTag {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease, opacity 0.5s ease;
      opacity: 0;
      padding: 0 10px;
      background-color: #07078f;
      color: #8891B7;
      font-size: 1vw;
      border-radius: 7px;
      display: none;
    }
    
    .FAQpTag.show {
      max-height: 1000px; /* Adjust this value to accommodate your content */
      opacity: 1;
      padding: 10px;
      display: block;
    }
    
    .FAQSBox1, .FAQSBox2, .FAQSBox3, .FAQSBox4, .FAQSBox5, .FAQSBox6, .FAQSBox7 {
      width: 90%;
      /* border: 1px solid #ddd; */
      background-color: #07078f;
      margin-bottom: 10px;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.5s ease;
      margin:  0 auto;
      margin-top: .7vw;
    }
    
    .support{
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .support button{
      padding: 1vw 5vw;
      font-size: 1.3vw;
      border-radius: 7px;
      background-color: #231bb6;
      color: #fff;
      border: none;
      outline: none;
    }


    @media screen and (width > 300px) and (width < 768px){
      .FAQSBox{
        width: 100%;
        height: fit-content;
        margin-top: 20vw;
      }
      .FAQSBox h5 {
        font-size: 5vw;
      }
      .IoIosArrowForward {
        font-size: 5vw;
      }
      .FAQdiv {
        padding: 3.5vw;
      }
      .FAQSBox h4{
        font-size: 3.5vw;
        font-weight: 300;
      }
      .FAQpTag {
        font-size: 3vw;
      }
      .FAQSBox1, .FAQSBox2, .FAQSBox3, .FAQSBox4, .FAQSBox5, .FAQSBox6, .FAQSBox7 {
        width: 100%;
        margin-top: 3vw;
      }
      .support{
        margin-top: 4vw;
      }
      .support button{
        font-size: 4vw;
        padding: 1.5vw 7vw;
      }
    }