/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
html, body{
      overflow-x: hidden;
}
.supportForm{
      width: 100vw;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(40, 47, 71, 1)), to(rgba(40, 47, 71, 0.9))), url(../../../images/backgroungImg.jpg);
      background: -o-linear-gradient(rgba(40, 47, 71, 1), rgba(40, 47, 71, 0.9)), url(../../../images/backgroungImg.jpg);
      background: linear-gradient(rgba(40, 47, 71, 1), rgba(40, 47, 71, 0.9)), url(../../../images/backgroungImg.jpg);
      background-size: cover;
      background-position: center;
      padding: 1vw 8vw;
      /* margin-top: 9VW; */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
              z-index: 1000;
      
}
.supportFormDiv{
      width: 50%;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      background-color: #2F354D;
      border-radius: 8px;
      border: 1px solid #566781;
}
.supportFormDiv h3{
      text-align: center;
      padding: 1vw;
}
.supportFormDiv p{
      width: 100%;
      padding: 2vw;
      color: #7191B7;
      font-size: 1vw;
}
.SupportInput{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      gap: 1vw;
      /* padding: 1vw; */
}
.SupportInput input{
      width: 70%;
      padding: 1.4vw 3vw;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 1.1vw;
      background-color: #282E44;
      color: #7191B7;
      border: 1px solid #7191b748;
}
.SupportInput input::-webkit-input-placeholder{
      color: #7191B7;
}
.SupportInput input::-moz-placeholder{
      color: #7191B7;
}
.SupportInput input:-ms-input-placeholder{
      color: #7191B7;
}
.SupportInput input::-ms-input-placeholder{
      color: #7191B7;
}
.SupportInput input::placeholder{
      color: #7191B7;
}
.SupportInput select{
      width: 70%;
      padding: 1.4vw 3vw;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 1.2vw;
      background-color: #282E44;
      color: #7191B7;
      border: 1px solid #7191b748;
}

.SupportInput select option{
      margin: 4vw;
}
textarea{
      width: 82%;
      padding: 1vw ;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 1.2vw;
      background-color: #282E44;
      color: #7191B7;
      border: 1px solid #7191b748;
      margin-left: 2vw;
}
.supportBtn{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
}
.supportFormDiv button{
      width: 100%;
      padding: 1vw;
      border: none;
      outline: none;
      border-radius: 5px;
      font-size: 1.2vw;
      background-color: #1BB67F;
      color: #fff;
      border: 1px solid #444;
      margin-top: 2vw;
      cursor: pointer;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
}
.companyInfo{
      padding: 2vw;
      color: #7191B7;
}
.companyInfo h4{
      font-size: 1.2vw;
}
.info{
      margin-top: 1vw;
      
}
.info h6{
      font-size: 1vw;
      font-weight: 300;
}

@media screen and (width > 300px) and (width < 768px){
      .supportFormDiv{
            width: 100%;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            margin-top: 20vw;
      }
      .supportFormDiv h3{
            font-size: 6vw;
      }
      .supportFormDiv p{
            width: 100%;
            font-size: 4vw;
            padding: 8vw 5vw;
      }
      .SupportInput{
            width: 100%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            /* padding: 4vw; */
      } 
      .SupportInput input{
            width: 89%;
            padding: 4vw;
            font-size: 3vw;
      }     
      .SupportInput select{
            width: 88%;
            padding: 4vw;
            font-size: 3vw;
            margin-top: 2vw;
      }     
      textarea{
            width: 90%;
            padding: 2vw;
            font-size: 3vw;
            margin-left: 4vw;
      }
      .supportBtn{
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
      }
      .supportFormDiv button{
            /* width: 50%; */
            padding: 4vw;
            font-size: 3vw;
            margin-top: 4vw;
      }
      .companyInfo{
            margin-top: 1.5vw;
      }
      .companyInfo h4{
            font-size: 4vw;
      }
      .info h6{
            font-size: 3vw;
            font-weight: 300;
      }
}


@media only screen and (width > 768px) and (max-width: 1024px) {


      .supportFormDiv{
            width: 70%;
      }
      .supportFormDiv p{
            width: 90%;
            font-size: 1.7vw;
      }
      .SupportInput{
            width: 100%;
      }
      .SupportInput input{
            width: 90%;
            font-size: 1.7vw;
            padding: 2vw;
      }
      .SupportInput select{
            width: 90%;
            font-size: 1.7vw;
            padding: 2vw;
      }
      textarea{
            width: 90%;
            font-size: 1.7vw;
            padding: 2vw;
      }
      .supportFormDiv button{
            font-size: 2.3vw;
            padding: 2vw;
      }
      .companyInfo h4{
            font-size: 2vw;
      }
      .info h6{
            font-size: 1.7vw;
            font-weight: 300;
      }
}
