/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.VisaContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  margin-top: 5vw;
}

.visaImage {
  margin: 10px;
  max-width: 100px;
}

.slider {
  /* margin-top: 2vw; */
  padding: 20px;
}

.sliderItem {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sliderImage {
  margin: 10px;
  max-width: 80px;
}

/* Custom arrow styles */
.arrow {
  display: block;
  opacity: 0.75;
}

@media (max-width: 768px) {
  .arrow {
    width: 15%;
  }
}

@media only screen and (width > 768px) and (max-width: 1024px) {
  .sliderImage {
    margin: 10px;
    max-width: 200px;
  }
}
