* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.FAQS {
  width: 100%;
  height: fit-content;
  background-color: #2C3149;
  padding: 1vw 3vw;
}

.FAQSBox {
  width: 100%;
  height: fit-content;
  padding: 1vw;
}

.FAQSBox h5 {
  text-align: center;
  padding: 2vw;
  font-size: 2vw;
}

.FAQdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;
  cursor: pointer;
}

.IoIosArrowForward {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  font-size: 1.3vw;
  transition: transform 0.3s ease;
}

.FAQSBox h4 {
  font-size: 1.3vw;
  font-weight: 300;
}

.IoIosArrowForward.rotate {
  transform: rotate(90deg);
}

.FAQpTag {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
  padding: 0 10px;
  background-color: #373F5A;
  color: #8891B7;
  font-size: 1vw;
  border-radius: 7px;
  display: none;
}

.FAQpTag.show {
  max-height: 1000px; /* Adjust this value to accommodate your content */
  opacity: 1;
  padding: 0vw 1.2vw;
  display: block;
  font-size: 1.2vw;
}

.FAQSBox1,
.FAQSBox2,
.FAQSBox3,
.FAQSBox4,
.FAQSBox5,
.FAQSBox6,
.FAQSBox7 {
  width: 90%;
  background-color: #373F5A;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 0 auto;
  margin-top: 0.7vw;
}

.support {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .FAQS {
    margin-top: 6vw;
    padding: 3vw;
  }

  .FAQSBox h5 {
    font-size: 5vw;
  }

  .FAQSBox p {
    font-size: 3vw;
  }

  .IoIosArrowForward {
    font-size: 5vw;
  }

  .FAQdiv {
    padding: 3.5vw;
  }

  .FAQSBox h4 {
    font-size: 3.5vw;
    font-weight: 300;
  }

  .FAQpTag {
    font-size: 3vw;
  }

  .FAQSBox1,
  .FAQSBox2,
  .FAQSBox3,
  .FAQSBox4,
  .FAQSBox5,
  .FAQSBox6,
  .FAQSBox7 {
    width: 100%;
    margin-top: 3vw;
  }

  .support {
    margin-top: 4vw;
  }

  .support button {
    font-size: 4vw;
    padding: 1.5vw 7vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .FAQS {
    padding: 3vw;
  }

  .FAQSBox h5 {
    font-size: 3vw;
  }

  .FAQdiv {
    padding: 1.5vw;
  }

  .FAQSBox h4 {
    font-size: 2.5vw;
    font-weight: 200;
  }

  .FAQSBox p {
    font-size: 2.3vw;
  }

  .IoIosArrowForward {
    font-size: 3vw;
  }

  .FAQpTag {
    font-size: 1.5vw;
  }
}
