* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  width: 100vw;
  height: fit-content;
  background-color: #282D44;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  padding: 1vw;
}

.footer1 {
  width: 15%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer1 img {
  width: 60%;
  height: 60%;
}

.footer2 {
  width: 50%;
  height: 70%;
  padding: 1vw;
}

.footer2 h4 {
  font-size: 1.3vw;
}

.ftrLinks .ftrLink1 {
  display: flex;
  align-items: center;
  margin-top: 1.5vw;
  gap: .3vw;
  text-decoration: none;
  color: #8891B7;
  transition: all ease .5s;
}

.footer3 {
  width: 97%;
  height: 70%;
  padding: 1vw;
}

.ftrLinks .ftrLink2 {
  display: flex;
  align-items: center;
  margin-top: 1vw;
  text-decoration: none;
  color: #8891B7;
  transition: all ease .5s;
}

.ftrLinks .ftrLink1:hover {
  color: #fff;
}

.ftrLinks .ftrLink2:hover {
  color: #fff;
}

.footer4 {
  width: 23%;
  height: 70%;
  padding: 2.5vw;
  transition: all ease .5s;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5vw;
  width: 30%;
}

.bottomFtr {
  width: 100vw;
  height: fit-content;
  background-color: #2C3149;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5vw;
  padding: 2vw;
}

.bottomFtr p {
  color: #8891B7;
  font-size: .9vw;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    height: 70vh;
  }

  .footer1 {
    width: 50%;
    height: 100%;
  }

  .footer1 img {
    width: 70%;
    height: 70%;
  }

  .footer2 {
    width: 50%;
    height: 100%;
  }

  .footer2 h4 {
    font-size: 4vw;
  }

  .footer3 {
    width: 43%;
    height: 100%;
  }

  .footer4 {
    width: 100%;
    height: 100%;
  }

  .ftrLink2,
  .ftrLink1 {
    font-size: 3.5vw;
  }

  .feature {
    width: 100%;
    padding: 1vw;
  }

  .bottomFtr {
    flex-direction: column;
    height: 10vh;
    padding: 2vw 0;
    margin-top: 3vw;
  }

  .bottomFtr p {
    font-size: 3vw;
    width: 90%;
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .footer {
    gap: 2vw;
  }

  .footer1 {
    width: 40%;
  }

  .footer1 img {
    width: 80%;
    height: 80%;
  }

  .footer4 {
    width: 40%;
  }

  .footer2 h4 {
    font-size: 2.5vw;
  }

  .feature {
    width: 100%;
  }

  .bottomFtr p {
    color: #8891B7;
    font-size: 1.5vw;
  }

  .bottomFtr {
    flex-direction: column;
  }

  .bottomFtr p {
    color: #8891B7;
    font-size: 2vw;
  }
}
