
.Login{
      position: fixed;
      width: 57vw;
      height: fit-content;
      background-color:#282E44;
      border-radius: 10px;
      top: 5%;
      left: 20%;
      transform: translate(-50% -50%);
      /* box-shadow: 0px 0px 3px 3px #555; */
      overflow: hidden;
      display: flex;
      align-items: center;
      z-index: 1000;
      padding: 1vw;
}
.LoginSide1{
width: 50%;
height: 100%;
background: linear-gradient(rgba(40, 47, 71, 1), rgba(40, 47, 71, 0.9)), url(../../../images/backgroungImg.jpg);
background-size: cover;
background-position: center;
}
.LoginSide2{
width: 50%;
height: 100%;
background-color: #2F354D;
}
.logo{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1vw;
}
.logo img{
      width: 23%;
      height: 23%;
}
.mainImg {
      display: flex;
      align-items: center;
      justify-content: end;
}
.mainImg img{
      width: 90%;
      height: 40%;
}
.pTag{
      display: flex;
      flex-direction: column;
      gap: 1vw;
      padding: 0vw 1vw;
}
.pTag p{
      font-size: 1.3vw;
}

.LoginSide2 h1{
      text-align: center;
      margin-top: 2vw;
}
.inputBox{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1vw;
      margin-top: 8vw;
}
.cross{
      position: absolute;
      font-size: 1.7vw;
      color: #6F7799;
      top: 2vw;
      right: 2vw;
      cursor: pointer;
}
.cross:hover{
      color: #fff;
}
.inputBox p{
      font-size: 1.2vw;
      color: #6F7799;
      transition: all ease .5s      ;
}
.inputBox p:hover{
      color: #fff;
}
.inputBox input{
      width: 80%;
      padding: 1.2vw 1vw;
      font-size: 1.2vw;
      border: none;
      outline: none;
      border-radius: 4px;     
      background-color: #282E44;
      color: #fff;
      border: 1px solid #566781;
}
.terms{
      width: 100%;
      display: flex;
      align-items: center;
}
.terms input{
      width: 10%;
}
.terms h5{
      font-size: 1vw;
      color: #6F7799;
}
.terms .termLink{
      color: #6F7799;
}
.terms .termLink:hover{
      color: #fff;
}
.inputBox button{
      width: 80%;
      padding: 1.2vw 1vw;
      font-size: 1.2vw;
      border: none;
      outline: none;
      border-radius: 4px;     
      background-color: #24D093;
      color: #fff;
      border: 1px solid #444;
      cursor: pointer;
      transition: all ease 1s;
      margin-left: 2vw;
}

.inputBox button:hover{
      background-color: #24D095;
}
.JumpReg{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1vw;
      margin-top: 9vw;
}
.Jump{
      text-decoration: none;
      color: #fff;
font-size: 1.2vw;
}

.JumpReg p{
      font-size: 1.2vw;
      color: #6F7799;
}


@media screen and (width > 300px) and (width < 768px){
      .Login{
            position: fixed;
            top: 10%;
            left: 10%;
            width: 80%;
            height: fit-content;
            margin-top: 25vw;
            padding: 2vw;
      }
 .LoginSide1{
      display: none;
 }     
 .LoginSide2{
      width: 100%;
      padding: 3vw;
 }
 .cross{
      font-size: 5vw;
 }
 .LoginSide2 h1{
      margin-top: 8vw;
 }
 .inputBox{
      margin-top: 14vw;
      gap: 3vw;
 }
 .inputBox input{
      width: 90%;
      padding: 3.5vw;
      font-size: 3vw;
      background-color: rgba(40, 47, 71, 0.9);
 }
 .terms{
      width: 90%;

 }
 .terms input{
      width: 20%;
}
.terms h5{
      font-size: 3.3vw;
}
.terms .termLink{
      font-size: 3vw;
}
.terms .termLink:hover{
      color: #fff;
}
.inputBox button{
      width: 80%;
      padding: 3vw;
      font-size: 5vw;
      margin-top: 3vw;
}
.JumpReg{
      margin-top: 15vw;
}
.Jump{
      font-size: 3vw;
}
.JumpReg p{
      font-size: 3vw;
}
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {


      .Login{
           top: 30%;
      }
      .logo img{
            width: 35%;
            height: 35%;
      }
      .pTag p{
            font-size: 2vw;
      }
      .cross{
            font-size: 3vw;
      }
      .inputBox p{
            font-size: 2vw;
      }
      .inputBox input{
            width: 90%;
            font-size: 2vw;
            padding: 2vw 1vw;
      }
      .inputBox button{
            width: 90%;
            font-size: 2.3vw;
      }
      .Jump{
            font-size: 1.5vw;
      }
      .terms{
            width: 90%;
      }
      .terms input{
            width: 20%;
      }
      .terms h5{
            font-size: 1.5vw;
      }
    }